.navbar{
    height: 5rem;
    width: 100vw;
    max-width: 70rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo{
    object-fit: cover;
    height: 3rem;
    width: 4rem;
}

.desktopMenuListItem{
    margin: 1rem;
    cursor: pointer;
    font-weight: bold;
}

.desktopMenuListItem:hover{
color: yellow;
border-bottom: 3px solid yellow;
padding: 0.2rem;
}

.desktopMenuImg{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
}
@media (max-width:1050px){
    .navbar{
        margin-left: 1rem;
    }
}

